# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
.env
.env.*
.venv/
venv/
ENV/
.envrc
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/
.history/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Ignore all output_scrapers subfolders in any directory
output_scrapers/
**/output_scrapers/

# Ignore output_scrapes folder in any directory
output_scrapes/
**/output_scrapes/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Others
*.swp
*.swo
*.bak
*.tmp
*.orig
*.idea/
*.iml

# AWS
*.pem

# Test
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Git
.git/
.gitignore
